@page "/karma"
@inject Data.DataBaseService db
@inject Data.Translator trans
@inject IJSRuntime JSRuntime
@using System.Linq;


@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("assignSearchKarma");
            StateHasChanged();
        }
    }
}

<AuthorizeView>
    <Authorized>
        @{
            var thisuser = db.GetUserById(long.Parse(context.User.Claims.FirstOrDefault(c => c.Type == "UserId").Value));

            trans.SetLanguage(thisuser.Language);
            var tasks = db.GetKarmaTasks();
            var categories = new Dictionary<string, Dictionary<string, List<Model.KarmaTask>>>();
            var usedkey = new List<string>();
            var datezero = new DateTime(0);
            foreach (var t in tasks)
            {
                if (!t.Active) continue;
                var taskcats = t.Categories.Split(" ");
                foreach (var cat in taskcats)
                {
                    if (!cat.Contains(".")) continue;
                    var lvl1 = cat.Split(".")[0];
                    var lvl2 = cat.Split(".")[1];
                    if (!categories.Keys.Contains(lvl1))
                        categories.Add(lvl1, new Dictionary<string, List<Model.KarmaTask>>());
                    if (!categories[lvl1].Keys.Contains(lvl2))
                        categories[lvl1].Add(lvl2, new List<Model.KarmaTask>());
                    categories[lvl1][lvl2].Add(t);
                }
            }
        }
        @if (context.User.Claims.Any(c => c.Value == Model.Roles.Karma))
        {
            <div class="card" style="margin-bottom:10px;">
                <div style="cursor:pointer" class="card-header row">
                    <div style=" font-size: 1.25rem; font-weight: 500;" class="col-9" onclick="$('#options-body').slideToggle()">@trans.WordFor("Options")</div>
                    <div class="col" style="text-align: center">
                        <img id="edit-toggle" src="@Model.Themes.Icon("cog-wheel")" style="width:30px;" onclick="toggleKarmaEdit()" />
                    </div>
                </div>
                <div class="card-body" id="options-body" style="display:none;">
                    <a class="btn btn-secondary" style="margin: 5px;" role="button" type="button" href="/editkarma">@trans.WordFor("New Task")</a>
                    <a class="btn btn-secondary" style="margin: 5px;" role="button" type="button" href="/activatetasks">@trans.WordFor("De/activate Tasks")</a>
                    <a class="btn btn-secondary" style="margin: 5px;" role="button" type="button" href="/karmahistory">@trans.WordFor("Karma History")</a>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h5><input class="form-control" type="text" id="karma-search-input" placeholder="@trans.WordFor("Search Karma Tasks")" /></h5>
                </div>
                <div id="searchresults" class="card-body collapse">
                    @foreach (var t in tasks)
                    {
                        if (!t.Active) continue;
                        <KarmaTaskView ClassTag="searchresult" UserId="@thisuser.UserId" Task="@t" ElementId=@("search-" + t.KarmaTaskId)></KarmaTaskView>
                    }
                </div>
            </div>

            <div id="accordion">
                @if (tasks.Any(t => t.Highlighted != null && t.Highlighted > datezero))
                {
                    <div class="card">
                        <h5 style="cursor:pointer;" class="card-header" onclick="$('.l1body').not('#urgent-body').slideUp(); $('#urgent-body').slideToggle();">@trans.WordFor("Urgent")</h5>
                        <div id="urgent-body" class="l1body card-body" style="display:none;" data-parent="#accordion">
                            @foreach (var t in tasks)
                            {
                                if (t.Highlighted != null && t.Highlighted > datezero)
                                {
                                    <KarmaTaskView ClassTag="urgent" Task="t" UserId="thisuser.UserId" ElementId=@("highlighted-" + t.KarmaTaskId)></KarmaTaskView>
                                }
                            }
                        </div>
                    </div>
                }
                @foreach (var category in categories)
                {
                    <div class="card">
                        <div class="card-header" style="cursor:pointer" id="@(category.Key)h1">
                            <h5 class="mb-0" onclick="$('.l1body').not('#@(category.Key)l1').slideUp(); if ($('#@(category.Key)l1').css('display') == 'none') $('#@(category.Key)l1').slideDown(); else $('#@(category.Key)l1').slideUp()">
                                @category.Key.Replace("_", " ")
                            </h5>
                        </div>

                        <div id="@(category.Key)l1" class="l1body" style="display:none;" data-parent="#accordion">
                            <div class="card-body" style="padding: 3px;">
                                @foreach (var subcat in category.Value)
                                {
                                    <div class="card">
                                        <div class="card-header" style="cursor:pointer" id="@(category.Key + "-" + subcat.Key)h2">
                                            <h6 class="mb-0" onclick="$('.l2body').not('#@(category.Key + "-" + subcat.Key)l2').slideUp(); $('#@(category.Key + "-" + subcat.Key)l2').slideToggle();">
                                                @subcat.Key.Replace("_", " ")
                                            </h6>
                                        </div>
                                    </div>

                                    <div id="@(category.Key + "-" + subcat.Key)l2" class="l2body" style="display:none;" data-parent="#accordion">
                                        <div class="card-body" style="padding: 3px;">
                                            @foreach (var t in subcat.Value)
                                            {
                                                @if (!t.Active) continue;
                                                <KarmaTaskView Task="t" UserId="thisuser.UserId" ElementId=""></KarmaTaskView>
                                            }
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    </Authorized>
    <NotAuthorized>

    </NotAuthorized>
</AuthorizeView>